img {
    height: 40px;
    

}
nav{
    background-color: #191a1c !important;
    
}
 a {
    color: #e0e1dd;
 }

 .nav-link:hover{
    color: white !important;
 }
 .nav-link:focus {
    color: white;
 }
 .navbar-brand:hover{
    color: white;
 }
 .navbar-brand:focus {
    color: white;
 }